@import "colors";

#myNavbar {
  font-size: 24px;
}

.navbar-inverse {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  color: $white;
  background-color: $blackDefault;
  z-index: 1;
  position: fixed;
  width: 100%;
  a {
    color: $navTextColor !important;
    &:hover, &:active {
      color: $white !important;
    }
  }
  .navbar-toggle {
    background-color: $blackActive !important;
    &:hover, &:active {
      background-color: $blackActive !important;
    }
  }
}

.logo {
  max-width: 120px;
}
